@import "tailwindcss";
@import "@rainbow-me/rainbowkit/styles.css";

:root {
  --background: #c2ddaa;
  --foreground: #000000;
  --sub_background: #722f37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #722f37;
    --foreground: #ffffff;
    --sub_background: #c2ddaa;
  }
} */

:root.dark {
  --background: #722f37;
  --foreground: #ffffff;
  --sub_background: #c2ddaa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
